<a href="https://colab.research.google.com/github/Tvisha0024/First-practice-/blob/main/LISTSipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
i=1
while i<6:
  i=i+1
  if i ==3:
    break
  print(i)
  # loop 1
  #i=1
  #then i=2
  #print 2
  #loop 2
  # i=2
  # then i=3
  # break

2

In [ ]:
i =1
while i<6:
  i=i+1
  if i ==3:
    continue
  print(i)
  #loop 1
  # i=1 then i=2
  #print--2
  # loop 2
  # i =2 then i=3
  # continue statement so print==3 skip
  #loop 3
  # i =3 then i =4
  #print--4
  # loop 4
  # i = 4 then i= 5
  #print--5
  #loop 5
  #i= 5 then i=6
  #print--6

2
4
5
6

In [ ]:
i =1
while i<6:
  i=i+1
  if i ==3:
    continue

  print(i)
else :
     print("i is no longer less than 6")

2
4
5
6
i is no longer less than 6

In [ ]:
fruits = ["Apple", "banana" , "cherry", "kiwi"]
for (x) in fruits:
  print(x)

Apple
banana
cherry
kiwi

In [ ]:
fruits = ["Apple", "banana" , "cherry", "kiwi"]
for (x) in fruits:
  print(x)
  if x == "cherry":
     break

Apple
banana
cherry

In [ ]:
fruits = ["Apple", "banana" , "cherry", "kiwi"]
for (x) in fruits:
  if x == "cherry":
     break
  print(x)

Apple
banana

In [ ]:
for (x) in "banana":
  print(x)

b
a
n
a
n
a

In [ ]:
for (x) in range(2,8,2):
    print(x)

2
4
6

In [ ]:
list = ["apple","banana","cherry","kiwi","mango","Avacado"]
list2 = ["tropical","coconut"]
list.extend(list2)
list.remove("banana")
print(list)

['apple', 'cherry', 'kiwi', 'mango', 'Avacado', 'tropical', 'coconut']

In [ ]:
thislist = ["apple","banana","cherry","kiwi","mango","Avacado"]
i=0
while i < len(thislist):
  print(thislist[i])
  i=i+1

apple
banana
cherry
kiwi
mango
Avacado