In [48]:
3+2

5

In [49]:
2**3

8

In [50]:
print("Tvisha's laptop is cool.")

Tvisha's laptop is cool.

In [51]:
print("Tvisha is working late though she arrived early.")

Tvisha is working late though she arrived early.

print(10*"Tvisha"+ "Tvisha")

In [52]:
print("Tvisha is doing her homework\n she is also making tea.")

Tvisha is doing her homework
 she is also making tea.

In [53]:
print(r"c:\doc\naveen ")

c:\doc\naveen

In [54]:
x=11
y=12
x=13
print(y)

12

In [55]:
x=11
x=13
x==11
print(x)

13

In [56]:
a=1
b=2
c=a #now c=1 and a is empty
a=b # now a=2
b=c #now b=1
print(a,b)

2 1

In [57]:
a=1
b=2
a=a+b  #now a=3 and b=2
b= a-b #now b = 1
a= a-b # now a=2
print(a,b)

2 1

In [58]:
a=5
b=10
a=a*b # now a= 50 and b=10
b=a//b #now b= 5 and a= 50
a=a//b #now b=5 and a=10
print(a,b)

10 5